@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at top left, rgba(0,255,255,0.15), transparent 30%),
    radial-gradient(circle at top right, rgba(255,0,255,0.15), transparent 30%),
    radial-gradient(circle at bottom left, rgba(0,255,120,0.15), transparent 30%);
  z-index: -1;
  filter: blur(80px);
}